LLM_PORT=8000

FLASK_API_URL=http://192.168.0.187:5000
INTERNAL_API_TOKEN=change-me

LLM_PROVIDER=MOCK
LLM_MODEL_PATH=/app/storage/models/llm/best.pt
LLM_TOKENIZER_PATH=/app/storage/models/llm/tokenizer.json
